{% extends 'base.html' %}

{% block content %}
<div class="dashboard-container">
    <h2>Dashboard do Cliente</h2>
    <div class="dashboard-row">
        <div class="dashboard-card">
            <h5>Imóveis Disponíveis</h5>
            <p>Visualize os imóveis disponíveis para compra ou aluguel.</p>
            <a href="{% url 'listar_imoveis' %}" class="btn btn-primary">Ver Imóveis</a>
        </div>
        <div class="dashboard-card">
            <h5>Meus Interesses</h5>
            <p>Visualize os imóveis que você demonstrou interesse.</p>
            <a href="{% url 'interesses' %}" class="btn btn-primary">Ver Interesses</a>
        </div>
        <div class="dashboard-card">
            <h5>Meus Imóveis</h5>
            <p>Visualize os imóveis que foram vinculados a você pelo corretor.</p>
            <a href="{% url 'imoveis_vinculados' %}" class="btn btn-primary">Ver Imóveis</a>
        </div>
    </div>
</div>
{% endblock %} 