{% extends "pages/base_auth.html" %}

{% block content %}
<div class="login-bg">
  <div class="login-container">
    <div class="login-image">
      <img src="https://static.vecteezy.com/ti/fotos-gratis/p1/1225648-arranha-ceus-foto.jpg" alt="Arranha-céus" style="width:100%;height:100%;object-fit:cover;border-radius:0;" />
    </div>
    <div class="login-form-section">
      <div class="login-title">Login</div>
      <form class="form-auth" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input class="form-input" type="text" name="username" placeholder="Usuário">
        <input class="form-input" type="password" name="senha" placeholder="Senha">
        <button class="button" type="submit">ENTRAR</button>
        {% if error %}
          <div class="error-message">
            {{ error }}
          </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}